USE [BIBLIOTECA]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 05/22/2019 21:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NOMBRE] [varchar](30) NOT NULL,
	[CONTRASEÑA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USUARIO] ([NOMBRE], [CONTRASEÑA]) VALUES (N'artur', N'12334')
INSERT [dbo].[USUARIO] ([NOMBRE], [CONTRASEÑA]) VALUES (N'arturo', N'224235')
INSERT [dbo].[USUARIO] ([NOMBRE], [CONTRASEÑA]) VALUES (N'luis', N'123456')
/****** Object:  Table [dbo].[LIBRO]    Script Date: 05/22/2019 21:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NOMBRE] [nvarchar](max) NULL,
	[AUTOR] [char](30) NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[LIBRO] ON
INSERT [dbo].[LIBRO] ([ID], [NOMBRE], [AUTOR], [FECHA]) VALUES (1007, N'jj', N'mo                            ', CAST(0x0000AAE300000000 AS DateTime))
INSERT [dbo].[LIBRO] ([ID], [NOMBRE], [AUTOR], [FECHA]) VALUES (1009, N'historia', N'luis                          ', CAST(0x0000A04F00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[LIBRO] OFF
/****** Object:  Table [dbo].[BIBLIOTECA]    Script Date: 05/22/2019 21:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BIBLIOTECA](
	[ID] [int] IDENTITY(1000,1) NOT NULL,
	[NOMBRE_USUARIO] [varchar](30) NULL,
	[ID_LIBRO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[BIBLIOTECA] ON
INSERT [dbo].[BIBLIOTECA] ([ID], [NOMBRE_USUARIO], [ID_LIBRO]) VALUES (1004, N'arturo', 1007)
SET IDENTITY_INSERT [dbo].[BIBLIOTECA] OFF
/****** Object:  ForeignKey [FK__BIBLIOTEC__ID_LI__09DE7BCC]    Script Date: 05/22/2019 21:44:59 ******/
ALTER TABLE [dbo].[BIBLIOTECA]  WITH CHECK ADD FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID])
GO
/****** Object:  ForeignKey [FK__BIBLIOTEC__ID_LI__182C9B23]    Script Date: 05/22/2019 21:44:59 ******/
ALTER TABLE [dbo].[BIBLIOTECA]  WITH CHECK ADD FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID])
GO
/****** Object:  ForeignKey [FK__BIBLIOTEC__NOMBR__08EA5793]    Script Date: 05/22/2019 21:44:59 ******/
ALTER TABLE [dbo].[BIBLIOTECA]  WITH CHECK ADD FOREIGN KEY([NOMBRE_USUARIO])
REFERENCES [dbo].[USUARIO] ([NOMBRE])
GO
/****** Object:  ForeignKey [FK__BIBLIOTEC__NOMBR__173876EA]    Script Date: 05/22/2019 21:44:59 ******/
ALTER TABLE [dbo].[BIBLIOTECA]  WITH CHECK ADD FOREIGN KEY([NOMBRE_USUARIO])
REFERENCES [dbo].[USUARIO] ([NOMBRE])
GO
