@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>La Biblioteca Virtual bookshare tiene la misión de ofrecer un número creciente de libros, publicaciones y documentos que forman parte de las colecciones de la Biblioteca .</p>
